.text-green {
  color: green;
  font-weight: bold;
}
.text-red {
  color: red;
  font-weight: bold;
}
.text-blue {
  color: blue;
  font-weight: bold;
}
.text-orange {
  color: orange;
  font-weight: bold;
}
.text-purple {
  color: purple;
  font-weight: bold;
}

.seleccionado {
  background-color: #f0f0f0;
}
